<div　class="unsubscribe_container">
  <div class="unsubscribe_headlinebox">
    <h2 class="unsubscribe_headsline">退会をご希望の方</h2>
  </div>
  <table class="unsubscribe_table">
    <tr>
      <td>メールアドレス</td>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <td>パスワード</td>
      <td><input type="password"</td>
    </tr>
  </table>
  <div class="unsubscribe_text"><h3>よろしければ退会理由を書き下さい</h3></div>
<div class="unsubscribe_textarea">
    <textarea></textarea>
  </div>
  <div class="actions">
    <input type="button" value="送信" class="post_btn">
  </div>
</div>
