<div class="user_edit_container">
<div class="headline_box">
  <h2 class="useredit_headline">登録情報編集 </h2>
</div>
<table class="edit_table" border="1">
<%= form_for(@user) do |f| %>
    <div class="">
        <label class="control-label sr-only" for="inputEmail">Name</label>
        <%= f.text_field :user_name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
    </div>
    <%= f.submit "変更を保存", class:"" %>
<% end %>
