<div class="purchase">
 <div class="container-fulid">
  <div class="row">
    <div class="col-lg-1">
     </div>
    <div class="col-lg-10">
      <div class="order_index">
        <h2>ユーザー一覧</h2>
        <table class="table table-striped order_index_table">
          <thead class="order_table_head">
            <tr>
              <th class="col-sm-1 order-index-th">ID</th>
              <th class="col-sm-3 order-index-th">氏名</th>
              <th class="col-sm-3 order-index-th">フリガナ</th>
              <th class="col-sm-3 order-index-th">メールアドレス</th>
              <th class="col-sm-2 order-index-th"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order_index_td">1</td>
              <td class="order_index_td">神木隆之介</td>
              <td class="order_index_td">かみきりゅうのすけ</td>
              <td class="order_index_td">kamiki@ryunosuke.com</td>
              <td class="order_index_td show_link_btn"><a href="" title="">詳細</a></td>
            </tr>
            <tr>
              <td class="order_index_td">2</td>
              <td class="order_index_td">神木隆之介</td>
              <td class="order_index_td">かみきりゅうのすけ</td>
              <td class="order_index_td">kamiki@ryunosuke.com</td>
              <td class="order_index_td show_link_btn"><a href="" title="">詳細</a></td>
            </tr>
            <tr>
              <td class="order_index_td">3</td>
              <td class="order_index_td">神木隆之介</td>
              <td class="order_index_td">かみきりゅうのすけ</td>
              <td class="order_index_td">kamiki@ryunosuke.com</td>
              <td class="order_index_td show_link_btn"><a href="" title="">詳細</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
 </div>
</div>