<div class="complete-back">
	<div class="logo"></div>
	<div class="complete">
	 <div class="complete-big-text">
	  注文が完了しました
     </div>
	  <div class="complete-text">
	  お客様の注文番号は<span class="under"><<%= @order.order_number %>></span>です。<br>
	  	この番号は失くさないようにして下さい。<br>
	  	<br>
	  	注文した商品の詳細はこちら<br>
	  	<br>
	  	<%= link_to "他の商品を探す" ,root_path, class:"btn btn-default btn-lg" %>
	 </div>
	</div>
</div>