<div class="order-back">
	<div class="container">
	 <div class="row">
      <div class="col-lg-3">
      </div>
       <div class="order col-lg-6">
    <h3>注文内容の確認</h3>
      
  <div class="order-box">

	  <div class="sendbox">
	    <h4>登録住所</h4>
	   <div class="address-form">
	   </div>
	   <h4>送付先住所</h4>
	   <div class="address-form">
	   	北海道札幌市南区4-5-6
	  </div>
	  </div>

      <div class="delivery">
      	<h4>配送方法の選択</h4>
      	 <div class="btn-group">
	      <button type="button" class="btn btn-default">
		選択する
		</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">佐川急便</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">ヤマト</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">郵便</a></li>
	    </ul>
  		</div><br>
        <h4>配送希望日時</h4>
       <div class="delivery-box">6月30日、午前中希望</div>
     </div>
     
     <div class="pay">
	      <h4>支払い方法の選択</h4>
	      <div class="btn-group">
		      <button type="button" class="btn btn-default">
			選択する
			</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">銀行振込</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">商品代引き</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">クレジットカード</a></li>
		    </ul>
	  		</div>
     </div>

     <div class="preorder clearfix">
     	<h4>商品の確認</h4>
      
      <div class="pre-product clearfix">
      	<div class="product-image">NO IMAGE
      	</div>
      	<p class="order-text">【UNCHAIN】 10fold</p>
      	<p class="preorder-price">小計 3,240円 </p>
      </div>
    
      	<table class="price-table">
		　<tr>
		　　<td>商品合計数 </td>
		　　<td>1</td>
		　</tr>
		　<tr>
		　　<td>ご請求額 </td>
		　　<td>3,240円</td>
		　</tr>
		 <tr>
		 <td colspan="2"><button class="btn btn-warning">注文の確定</button>
		 </td>
		</tr>
		</table>


     </div>

    </div>
  </div>
  <div class="col-lg-3"></div>
 </div>
</div>
</div>