<div class="purchase">
 <div class="container">
  <div class="row">
    
    <div class="col-lg-1">
     </div>
    <div class="col-lg-10">
    
    <h3>購入番号 5-555-5555-555</h3>
    <div class="purchase-detail clearfix">
      
      <div class="purchase1 clearfix">
        <div class="date">
          購入日
          <div class="date1">
            2018年5月12日
          </div>
        </div>

        <div class="order-user">
         購入者
         <div class="order-user">
          かみなかのくん
         </div>
        </div>

        <div class="order-address .order-address1">
         送付先住所
          <div class="order-address1">
          神奈川県川崎市宮前区◯◯◯◯◯◯◯◯　◯◯◯◯ハイツ908
         </div>
        </div>

        <div class="price-box">
         合計金額
         <div class="price-box">
          3,640円
         </div>
        </div>

        <div class="status">
          配送状況：配送準備中
        </div>

      </div>

      <div class="purchase2 clearfix">
        <div class="purchase2-image">NO IMAGE
        </div>
        <div class="purchase-product">
          めっちゃいいCDっていう名のCD
        </div>
        <div class="purchase-amount">
          購入数:1
        </div>
        <div class="purchase-price">
         小計:2,560円
        </div>
        <div class="purchase-artist">
          めっちゃいいバンド
        </div>
      </div>
    
      <div class="purchase2 clearfix">
        <div class="purchase2-image">NO IMAGE
        </div>
        <div class="purchase-product">
          めっちゃダメなCDっていう名のCD
        </div>
        <div class="purchase-amount">
          購入数:1
        </div>
        <div class="purchase-price">
         小計:1,080円
        </div>
        <div class="purchase-artist">
          めっちゃダメなバンド
        </div>
      </div>

      <div class="cancel"><button class="btn btn-warning">注文をキャンセルする</button>
      </div>
    </div>
    </div>

    <div class="col-lg-1">
    </div>
  </div>
 </div>
</div>
