<div class="contact">
  <div class="container">
   <div class="row">
  	<div class="col-lg-2"></div>
  	  <div class="col-lg-8">
	    <h2 class="contact-h2">お問い合わせフォーム</h2>
         <div class="contact-main">
           <%= form_for @contact do |d| %>
           <h4>・タイトル</h4>
           <%= d.text_field :type ,class: 'form-control',:placeholder =>"注文した商品について　リクエスト　恋の悩み　など" %>
           <h4>・詳細</h4>
           <%= d.text_area :content ,class: 'form-control',:placeholder =>"購入した商品については、購入番号もおしらせください。"%><br>
          <%= d.submit "問い合わせる" ,class: "btn btn-info" %>
           <% end %>
       	   </div>
       </div>
	   <div class="col-lg-2"></div>
    </div>
  </div>
</div>