<div class="contact">
  <div class="container">
   <div class="row">
  	<div class="col-lg-2"></div>
  	  <div class="col-lg-8">
	    <h2 class="contact-h2">お問い合わせフォーム</h2>
         <div class="contact-main">
           <%= form_for @contact do |d| %>
           問い合わせ概要
           <%= d.text_field :type ,class: 'form-control'%>
           問い合わせ詳細
           <%= d.text_area :content ,class: 'form-control' %>
          <%= d.submit "問い合わせる" ,class: "btn btn-success" %>
           <% end %>
       	   </div>
       </div>
	   <div class="col-lg-2"></div>
    </div>
  </div>
</div>