<div class="question">
  <div class="container">
    <div class="row">
  	  <div class="col-lg-2"></div>
  	    <div class="col-lg-8">

	       <div class="question-h2">
            <h2>よくある質問　- Q&A-</h2>
          </div>

          <div class="question1">
              <h4>Q.あやしいサイトではありませんか？</h4>
            </div>
           <div class="answer">
            A.あやしく見えればあやしいし、あやしく見えなくればあやしくありません。
          </div>
          <div class="question1">
              <h4>Q.スクエアミュージックって名前かっこいいですね</h4>
            </div>
           <div class="answer">
            A.ありがとうございます。<br>
            ツイッターで拡散してください。
          </div>
　　　　　　 <div class="question1">
              <h4>Q.商品の種類少なすぎじゃありませんか？</h4>
            </div>
           <div class="answer">
            A.これぐらいで勘弁してください。
          </div>
          <div class="question1">
              <h4>Q.取り扱いアーティストの基準は？</h4>
            </div>
           <div class="answer">
            A.ありません。ごめんなさい。
          </div>
          <div class="question1">
              <h4>Q.1万円以上買ったら90%オフにできませんか？</h4>
            </div>
           <div class="answer">
            A.できません。
          </div>
          <div class="question1">
              <h4>Q.スクエアミュージックで働きたいです。</h4>
            </div>
           <div class="answer">
            A.履歴書を持って本社までお越しください。
          </div>
          <div class="q-link">
            悩みが解決しない方はこちら⇨<%= link_to '問い合わせる',new_contact_path ,class: "btn btn-warning" %>
          </div>
          <div class="q-link">
            <%= link_to 'TOPへ戻る',root_path ,class: "btn btn-info" %>
            </div>



	     <div class="col-lg-2"></div>
    </div>
  </div>
</div>
</div>