/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .clearfix::after {
  content: "";
  display: block;
  clear: both;
 }


 /*伊藤order/complete*/
 .complete-back {
 	width:100%;
 	height:100%;
 	background-color:#dcdcdc;
 	padding-top:50px;
 }
 .complete {
 	width:800px;
 	height:400px;
 	background-color:white;
 	margin:0 auto 100px;
 	padding-top:20px;
 	border:outset;
 }
 .complete-big-text {
 	font-size:40px;
 	text-align:center;

 }
 .complete-text {
 	font-size:20px;
 	margin:50px 0 30px;
 	text-align:center;
 }
 .under{
 	text-decoration: underline;
 }


 /*order/new*/
 .order-back {
 	width:100%;
 	height:100%;
 	background-color:#dcdcdc;
 	padding-top:30px;
 }
 .order {
 	background-color:white;
 	width:800px;
 	margin:0 auto 30px;
 	padding:auto;
 	border:outset;
 	text-align:center;
 }
 .order-box {
 	width:700px;
 	background-color:#f5f5f5;
 	margin:0 auto;
 	border:inset 3px;
 	padding-top:2px;
 }
 .sendbox {
 	font-size:20px;
 	text-align:center;
 	border:outset 3px;
 	height:150px;
 }
 .address-form {
 	width:550px;
 	height:30px;
 	border:solid 1px;
 	margin:0 auto;
 }
 .delivery {
 	font-size:20px;
 	text-align:center;
 	border:outset;
 	height:150px;
 }
 .delivery-box {
 	width:550px;
 	height:30px;
 	border:solid 1px black;
 	margin:10px auto 0 ;
 	color:#dcdcdc;
 }
 .pay {
 	font-size:20px;
 	text-align:center;
 	border:outset 3px;
 	height:100px;
 }
 .preorder {
 	font-size:20px;
 	text-align:center;
 	border:outset 3px;
 }
 .pre-product {
 	width:650px;
 	height:100px;
 	border:solid 1px;
 	margin:5px auto 0;
 	padding:8px 0 0 8px;
 }
 .price-table {
 	width:200px;
 	height:10px;
 	float:right;
 }
 .product-image {
 	width:80px;
 	height:80px;
 	border:solid 1px;
 	float:left;
 }
 .order-text {
 	float:left;
 	line-height: 80px;
 }
 .preorder-price {
 	float:right;
 	margin:50px 5px 0 0;
 }
 table th, table td {
   border: solid 1px black;
   font-size:15px;
 }

 /*/order/show*/
 .purchase {
 	width:1240px;
 	height:800px;
 	background-color:#dcdcdc;
 	padding-top:30px;
 }

 /*以下原*/
  /*ログイン画面*/
 .login_container {
   width: 800px;
   margin: 0 auto;
 }
.login_container .headline_box {
  background-color: black;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}
.login_headline {
  color: white;
  margin: 20px 0;
  padding: 5px 0;
}
.label {
  margin-bottom: 0px;
}
#user_email, #user_password, #user_password_confirmation, #user_tell, #user_address, #user_postal, #user_user_name, #user_user_phonetic {
  width: 200px;
}
th , td {
  padding: 10px 0 10px 5px;
}
.login_btn, .post_btn, .change_btn, .signup_btn{
  background-color: black;
  border-radius: 5px;
  color: white;
  width: 120px;
  height: 30px;
}
.link_tag {
  width: 250px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
}
/*新規登録*/
.Agreement {
  width: 1000px;
  margin: 0 auto;
}
.signup_table {
  width: 700px;
  margin: 0 auto;
}
.checkbox_container {
  padding-top: 10px;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.actions {
  margin: 10px auto;
  width: 100px;
  height: 30px;
}
/*パスワードリマインダー編集*/
.password_reminder_container .headline_box {
  background-color: black;
  width: 350px;
  text-align: center;
  margin: 0 auto;
}
.password_edit_container .headline_box {
  background-color: black;
  width: 350px;
  text-align: center;
  margin: 0 auto;
}
.signup_container .headline_box {
  background-color: black;
  width: 140px;
  text-align: center;
  margin: 0 auto;
}
.password_reminder_headline, .password_edit_headline , .signup_headline, .Agreement_headline{
  color: white;
}
.password_reminder_table, .login_table, .password_edit_table {
  width: 500px;
  margin: 0 auto;
}



/*以下渡辺*/
/*product/new/*/
.product_new_side{
  }
.product_new_inner{
  background-color: #708090;
  height: 100%;
}
.product_new_main{
  background-color: white;
}
.header-footer{
  height:100px;
  background-color: black;
}



/*以下　岡田*/
/*header用のCSS*/
header{
  background-color: #808080;
  height: 200px;
  border: solid black 1px;
}
.header-links{
  text-align: right;
  padding: 5px 20px 5px 0;
}
.link1{
  display: inline-block;
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  border: 1px black solid;
}
.link2{
  display: inline-block;
  padding: 0 15px;
  color: white;
}
.link3{
  display: inline-block;
  color: white;
}
.header-sub1{
  background-color: white;
  height: 132px;
}
.header-sub2{
  background-color: black;
  height: 130px;
  position: relative;
  top: 1px;
}
.header-text1{
  color: white;
  padding: 0 0 0 60px;
  font-family: "Comic Sans MS";
}
.header-text2{
  text-align: right;
  padding: 5px 40px 0 0;
}
.header-text3{
  color: white;
  font-size: 14px;
}
.search-sample{
  background-color: white;
  width: 250px;
  height: 18px;
  float: right;
  margin: 0 20px 20px 0;
}
.search-space{
  color: black;
  text-align: center;
  font-size: 14px;
}

/*main用のCSS*/
.top-main{
  overflow:hidden;
}
.genre-box{
  height: 850px;
  width: 14%;
  border: solid black 2px;
  float: left;
}
.genre-title{
  height: 25px;
  background-color: black;
  padding-left: 20px;
}
.genre-title-text{
  color: white;
}
.top-box{
  height: 850px;
  width: 86%;
  float: left;
  background-color: #c0c0c0;
}
.swipe-space{
  width: 96%;
  height: 280px;
  margin: 50px 2%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
.ranking-space{
  width: 96%;
  height: 180px;
  margin: 70px 2% 0 2%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
.newproduct-space{
  width: 96%;
  height: 180px;
  margin: 40px 2% 30px 2%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
/*商品検索用のCSS*/
.top-box2{
  height: 850px;
  width: 86%;
  float: left;
  background-color: #c0c0c0;
  overflow:hidden;
}
.sarch-word{
  padding: 0 0 20px 10px;
}
.sarch-products-box1{
  float: left;
  width: 350px;
  height: 220px;
  background-color: white;
  margin: 10px 0 0 45px;
  border: solid black 1px;
}
.sarch-products-box2{
  float: left;
  width: 350px;
  height: 220px;
  background-color: white;
  margin: 20px 0 0 45px;
  border: solid black 1px;
}
.kaminari-plan{
  text-align: center;
  padding-top: 500px;
}
.newproduct-space2{
  width: 96%;
  height: 180px;
  margin: 50px 2% 30px 2%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
/*商品詳細用のCSS*/
.product-detail{
  width: 96%;
  height: 380px;
  background-color: white;
  margin: 20px 2% 20px 2%;
  border: solid black 1px;
}
.product-detail-image{
  width: 200px;
  height: 140px;
  margin: 20px 0 0 60px;
  background-color: gray;
  float: left;
}
.product-detail-field1{
  background-color: red;
  width: 700px;
  height: 180px;
  float: right;
  margin-right: 15px;
}
.in-the-cart-field{
  width: 170px;
  height: 180px;
  background-color: #ffcc99;
  margin-right: 2%;
  border-radius: 20px;
  border: solid black 1px;
  float: right;
}
.product-detail-field2{
  background-color: red;
  width: 960px;
  height: 155px;
  float: right;
  margin: 5px 10px 0 0;
}
.product-comment{
  width: 90%;
  height: 150px;
  background-color: white;
  margin: 0 2% 0 8%;
  border: solid black 1px;
}
.newproduct-space3{
  width: 96%;
  height: 180px;
  margin: 65px 2% 30px 2%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
.amount-setting{
  width: 90px;
  height: 25px;
  background-color: white;
  text-align: right;
  margin: 50px 0 0 70px;
}
.in-the-cart{
  width: 160px;
  height: 22px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  border: solid black 1px;
  margin: 10px 0 0 4px;
}
/*footer用のCSS*/
footer{
  height: 30px;
  background-color: black;
}
.footer-text{
  text-align: center;
  padding-top: 10px;
  font-family: "Comic Sans MS";
  color: white;
}