/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .clearfix::after {
  content: "";
  display: block;
  clear: both;
 }



/*swiper*/
.swiper-container {
    width: 100%;
    height: 278px;
    border-radius: 10px;
}
.pic1 {
  width:200px;
  height:250px;
  background-image:url("1.jpg") ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.pic2 {
  width:200px;
  height:250px;
  background-image:url("2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.pic3 {
  width:200px;
  height:250px;
  background-image:url("3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.pic4 {
  width:200px;
  height:250px;
  background-image:url("4.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}







 /*以下原*/

 /*// 共通レイアウト*/
.message {
  margin: 0 auto;
  width: 800px;
  font-size: 15px;
  padding-top: 20px;
  text-align: center;
}
#error_explanation {
  width: 500px;
  margin: 0 auto;
}
.td_color_pass {
  padding-bottom: 10px;
  background-color: #eeeeee;
  width: 200px;
}
  /*ログイン画面*/
 .login_container {
   width: 800px;
   margin: 0 auto;
 }

#user_email, #user_password,#user_current_password, #user_password_confirmation, #user_tell, #user_address, #user_postal, #user_user_name, #user_user_phonetic {
  width: 400px;
  margin-left: 5px;
}
#admin_email, #admin_password, #admin_current_password, #admin_password_confirmation, #admin_admin_name {
  width: 400px;
  margin-left: 5px;
}
.td_color {
  background-color: #eeeeee;
  width: 200px;

}
.post_btn, .change_btn, .signup_btn, .edit_btn{

  background-color: black;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 30px;
}
.link_tag {
  width: 250px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
}
.label_name {
  margin-bottom: 0px;
  padding: 10px 0 10px 5px;
}
.headline_box {
  width: 800px;
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  margin: 0 auto;
}
  /*ログイン画面*/
 .login_container {
   width: 800px;
   margin: 0 auto;
 }
.login_btn {
  background-color: black;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}
.login_headline {
  margin: 20px 0;
}
/*新規登録*/
.signup_headline {
  margin: 20px 0 ;
}

.em_text {
  padding-left: 5px;
}
.procedure_content_1, .procedure_content_2, .procedure_content_3 {
  float: left;
  width: 200px;
  border: 1px solid red;
  border-radius: 5px ;
}
.procedure_container {
  width: 628px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.kigou {
  float: left;
}
.procedure_content_1 {
  background-color: red;
  color: white;
}
.procedure_content_2, .procedure_content_3 {
  color: red;
}
.completion_headline {
  margin: 10px auto;
  width: 1000px;
}


.text_1 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.text_2 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.Agreement {
  width: 700px;
  height: 150px;
  margin: 0 auto;
  overflow: scroll;
  border: solid 1px;
  padding: 10px;
}
.signup_table, .login_table {
  width: 700px;
  margin: 0 auto;
}
.checkbox_container {
  padding-top: 10px;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  height: 50px;
  padding: 10px 20px;
}
.checkbox {
  float: left;
}
.checkbox_text {
  float: left;
}
.actions {
  margin: 10px auto;
  width: 100px;
  height: 30px;
}
/*パスワードリマインダー編集*/

.password_reminder_headline {
  margin: 20px 0;
}
.password_reminder_table, .login_table, .password_table, .edit_table {
  width: 700px;
  margin: 0 auto;
}
.password_edit_table {
  margin: 0 auto;
}
.password_edit_headline {
  margin: 20px 0;
}

// 確認画面
.td_text {
  padding-left: 5px;
}


.user_edit_container  {
  margin: 0 auto;
}
 /*unsubscribe_comment*/
.unsubscribe_headsline {
  margin: 20px 0;
}
.unsubscribe_table {
  width: 700px;
  margin: 0 auto;
}
.unsubscribe_text {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 20px;
}
.unsubscribe_textarea {
  text-align: center;
  width: 100%;
}
.unsubscribe_textarea textarea {
  width: 600px;
  height: 300px;
}
/*user_confirm*/

.user_confirm_table {
  width: 700px;
  margin: 0 auto;

}
.back_actions {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  padding-top: 20px;
}
.user_confirm_headline {
  margin: 20px 0;
}
 // ユーザー一覧
 .edit_link {
   padding-left: 50px;
   float: left;
 }
.unsubscribe_link {
  padding-right: 50px;
  float: right;
}
.user_id {
  float: left;
}
.flag_check {
  float: right;
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 2px;
}
// ユーザ詳細
.comment {
  padding-bottom: 20px;
}

.soft_delete_btn , .restoration_btn {
  margin-bottom: 10px;
}
.link_tag_1 {
  padding-top: 10px;
}



















/*以下　岡田*/
/*header用のCSS*/
header{
  background-color: #808080;
  width: 100%;
  height: 111px;
  border: solid black 1px;
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;
  z-index: 100;
}
.header-padding{
  height: 111px;
  width: 100%;
}
.header-links{
  text-align: right;
  padding-right: 30px;
}
.link1{
  display: inline-block;
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  border: 1px black solid;
  font-size: 12px;
  height: 16px;
  text-decoration: none;
}
.link2{
  display: inline-block;
  padding: 0 15px;
  color: white;
  font-size: 12px;
}
.link3{
  display: inline-block;
  color: white;
  font-size: 12px;
}
.header-sub{
  background-color: black;
  height: 65px;
  position: relative;
  top: 2px;
  border-top: solid white 2px;
  border-bottom: solid white 2px;

}
.header-text1{
  color: white;
  padding: 0 0 0 60px;
  display: inline-block;
  position: relative;
  bottom: 42px;
}
.header-text2{
  text-align: right;
  padding: 5px 20px 0 0;
}
.header-text3{
  color: white;
  font-size: 12px;
}
.search-space{
  width: 250px;
  height: 18px;
  float: right;
  margin: 2px 25px 0 0;
}
.search-form{
  width: 85%;
  height: 22px;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.search-form-btn{
  position: relative;
  bottom: 22px;
  left: 212px;
}





/*top用のCSS*/
.top-main{
  overflow:hidden;
  background-color:  #c0c0c0;
}
.sidebar-space{
  width: 22%;
  background-color: #c0c0c0;
  height: 600px;
  float: left;
}
.genre-box{
  width: 18%;
  position: fixed;
  margin-top: 30px;
  left: 3%;
  z-index: 100;
  border: solid black 2px;
  background-color: white;
}
.genre-title{
  height: 25px;
  background-color: black;
  padding-left: 10px;
}
.genre-title-text{
  color: white;
}
.genre-index{
  padding: 10px 0 0 20px;
}
.top-box{
  height: auto;
  width: 78%;
  float: left;
  background-color: #c0c0c0;
  overflow:hidden;
}
.swipe-space{
  width: 75%;
  height: 280px;
  margin: 30px 5%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
.ranking-space{
  width: 85%;
  height: 220px;
  margin: 40px 5%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
.rankin-product{
  width: 16%;
  height: 140px;
  float: left;
  margin: 2% 2% 20px 2%;
  position: relative;
  padding: .5em .75em;
  background-color: #e8e8e8;
}
.rankin-product::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0px;
  width: -webkit-calc(100% 10px);
  width: calc(100% - 0px);
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #f0f0f0;
}
.ranking-integer{
  height: 17px;
  font-size: 12px;
}
.ranking-image{
  width: 70%;
  height: 60px;
  margin: 0 15% 3px 15%;
  background-color: white;
}
.ranking-artist-text{
  font-size: 13px;
  height: 13px;
  text-align: center;
  padding-top: 5px;
}
.ranking-product-text{
  font-size: 13px;
  height: 13px;
  padding-top: 10px;
  text-align: center;
}
.newproduct-space{
  width: 85%;
  height: 220px;
  margin: 40px 5% 30px 5%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}








/*商品検索用のCSS*/
.top-box2{
  height: auto;
  width: 78%;
  float: left;
  background-color: #c0c0c0;
  overflow:hidden;
}
.sarch-word{
  padding: 0 0 20px 10px;
}
.sarch-products-box1{
  float: left;
  width: 28%;
  height: 220px;
  background-color: white;
  margin: 2% 3% 0 2%;
  border: solid black 1px;
}
.sarch-products-box2{
  float: left;
  width: 350px;
  height: 220px;
  background-color: white;
  margin: 20px 0 0 45px;
  border: solid black 1px;
}
.kaminari-plan{
  text-align: center;
  padding-top: 500px;
}
.newproduct-space2{
  width: 96%;
  height: 180px;
  margin: 50px 2% 30px 2%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}











/*商品詳細用のCSS*/
.product-detail{
  width: 93%;
  background-color: white;
  margin: 20px 2% 20px 2%;
  border: solid black 1px;
  padding-top:20px;
}
.product-detail-image{
  width: 200px;
  height: 200px;
  margin: 0 20px 0 20px;
  background-color: gray;
  float: left;
}
.product-detail-field1{
  width: 40%;
  float: left;
  margin-right: 15px;
}
.in-the-cart-field{
  width: 160px;
  height: 160px;
  background-color: #ffcc99;
  margin-right: 2%;
  border-radius: 20px;
  border: solid black 1px;
  float: right;
}
.cart-price{
  height:30px;
  font-size:20px;
  margin:5px 10px 0 20px;
  text-align:right;
}
.product-detail-field2{
  width: 73%;
  float: right;
  margin: 10px 1% 0 3%;
  border-top: dashed gray 1px;
}
.product-detail-field3{
  width: 73%;
  height: auto;
  float: right;
  margin: 5px 1% 20px 3%;
  border-top: dashed gray 1px;
}


/*コメント*/
.product-comment{
  width: 85%;
  margin: 10px 0 0 2%;
  background-color: white;
  border: solid black 1px;
}
.review-count {
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #aaaaaa 100%);/*グラデーション*/
}
.review {
  border:solid 1px;
  border-radius: 5px
}
.product-comment-newbox{
  width: 85%;
  height:180px;
  margin: 0 0 0 2%;
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #aaaaaa 100%);/*グラデーション*/
  margin-right: 3px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}
.user-comment {
  list-style: none;
  margin:5px 5px;
  border-bottom:solid 1px;
  border-color:#708090;
  padding:10px 10px;
}
.comment-box {
  margin:5px 0;
}






.newproduct-space3{
  width: 85%;
  margin: 40px 0 30px 1.8%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
.quantity-setting{
  width: 100px;
  height: 25px;
  text-align: right;
  margin: 10px 0 40px 50px;
}
.in-the-cart{
  text-align: center;
  margin-left:5px;
}
.product-heading{
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 1em;
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);
  background: linear-gradient(to bottom, whitesmoke 0%, #FFFF00 100%);
  width: 200px;
  margin: 5px;
}
.product-heading::before,
.product-heading::after {
  content: '';
  position: absolute;
}
.product-heading::before {
  top: 100%;
  left: 0;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #CCCC66;
}
.product-heading::after {
  top: 0;
  right: 0;
  z-index: 2;
  border-width: 15px 15px;
  border-style: solid;
  border-color: transparent;
  border-right-color: #fff;
}

.genre-list {
  padding: 0;
  position: relative;
}

.genre-list .genre-list-item {
  line-height: 1.5;
  height:35px;
  padding: 0.5em 0.5em 0.5em 1.7em;
  list-style-type: none!important;
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #CCCCCC 100%);/*グラデーション*/
  color: black;
}

.genre-list .genre-list-item:before { /*疑似要素*/
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  position: absolute;
  left : 0.5em;
  color: #FF6600;
}


/*footer用のCSS*/
footer {
  height: 120px;
  background-color: black;
}
.footer-text{
  width:400px;
  height:100px;
  float:right;
  margin-top:15px;
  background-image:url(logo2.png);
  background-repeat: no-repeat;
  /*padding-top: 10px;*/
  /*font-family: "Comic Sans MS";*/
  /*color: white;*/
}
