/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .clearfix::after {
  content: "";
  display: block;
  clear: both;
 }



/*swiper*/
.swipe-space{
  width: 90%;
  height: 300px;
  margin: 30px 5%;
}
.swiper-container {
    width: 100%;
    height: 300px;
}
.pic1 {
  width:300px;
  height:300px;
  background-image:url("1.jpg") ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.pic2 {
  width:300px;
  height:300px;
  background-image:url("2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.pic3 {
  width:300px;
  height:300px;
  background-image:url("3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.pic4 {
  width:300px;
  height:300px;
  background-image:url("4.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}





 /*以下原*/

 /*// 共通レイアウト*/
.message {
  margin: 0 auto;
  width: 800px;
  font-size: 15px;
  padding-top: 20px;
  text-align: center;
}
#error_explanation {
  width: 500px;
  margin: 0 auto;
}
.td_color_pass {
  padding-bottom: 10px;
  background-color: #eeeeee;
  width: 220px;
}
  /*ログイン画面*/
 .login_container {
   width: 800px;
   margin: 0 auto;
 }

#user_email, #user_password,#user_current_password, #user_password_confirmation, #user_tell, #user_address, #user_postal, #user_user_name, #user_user_phonetic {
  width: 400px;
  margin-left: 5px;
}
#admin_email, #admin_password, #admin_current_password, #admin_password_confirmation, #admin_admin_name {
  width: 400px;
  margin-left: 5px;
}
.td_color {
  background-color: #eeeeee;
  width: 220px;

}
.post_btn, .change_btn, .signup_btn, .edit_btn{

  background-color: black;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 30px;
}
.link_tag {
  width: 250px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
}
.label_name {
  margin-bottom: 0px;
  padding: 10px 0 10px 5px;
}
.headline_box {
  width: 800px;
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  margin: 0 auto;
}
  /*ログイン画面*/
 .login_container {
   width: 800px;
   margin: 0 auto;
 }
.login_btn {
  background-color: black;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}
.login_headline {
  margin: 20px 0;
}
/*新規登録*/
.signup_headline {
  margin: 20px 0 ;
}

.em_text {
  padding-left: 5px;
}
.procedure_content_1, .procedure_content_2, .procedure_content_3 {
  float: left;
  width: 200px;
  border: 1px solid red;
  border-radius: 5px ;
}
.procedure_container {
  width: 628px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.kigou {
  float: left;
}
.procedure_content_1 {
  background-color: red;
  color: white;
}
.procedure_content_2, .procedure_content_3 {
  color: red;
}
.completion_headline {
  margin: 10px auto;
  width: 1000px;
}


.text_1 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.text_2 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.Agreement {
  width: 700px;
  height: 150px;
  margin: 0 auto;
  overflow: scroll;
  border: solid 1px;
  padding: 10px;
}
.signup_table, .login_table {
  width: 700px;
  margin: 0 auto;
}
.checkbox_container {
  padding-top: 10px;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  height: 50px;
  padding: 10px 20px;
}
.checkbox {
  float: left;
}
.checkbox_text {
  float: left;
}
.actions {
  margin: 10px auto;
  width: 100px;
  height: 30px;
}
/*パスワードリマインダー編集*/

.password_reminder_headline {
  margin: 20px 0;
}
.password_reminder_table, .login_table, .password_table, .edit_table {
  width: 700px;
  margin: 0 auto;
}
.password_edit_table {
  margin: 0 auto;
}
.password_edit_headline {
  margin: 20px 0;
}

 /*確認画面*/
.td_text {
  padding-left: 5px;
}


.user_edit_container  {
  margin: 0 auto;
}
 /*unsubscribe_comment*/
.unsubscribe_headsline {
  margin: 20px 0;
}
.unsubscribe_table {
  width: 700px;
  margin: 0 auto;
}
.unsubscribe_text {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 20px;
}
.unsubscribe_textarea {
  text-align: center;
  width: 100%;
}
.unsubscribe_textarea textarea {
  width: 600px;
  height: 300px;
}
/*user_confirm*/

.user_confirm_table {
  width: 700px;
  margin: 0 auto;

}
.back_actions {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  padding-top: 20px;
}
.user_confirm_headline {
  margin: 20px 0;
}
/*ユーザー一覧*/
 .edit_link {
   padding-left: 50px;
   float: left;
 }
.unsubscribe_link {
  padding-right: 50px;
  float: right;
}
.user_id {
  float: left;
}
.flag_check {
  float: right;
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 2px;
}
// ユーザ詳細
.comment {
  padding-bottom: 20px;
}

.soft_delete_btn , .restoration_btn {
  margin-bottom: 10px;
}
.link_tag_1 {
  padding-top: 10px;
}
.user-show, .user-box {
  margin-bottom: 30px
}
.user-show-headline , .user-box-headline{
  color: white;
  background-color: black;

}
.th-purchase {
  vertical-align: middle;
}

.table-striped th {
  text-align: center;
}
.user-show .table-striped {

  margin: 0 auto;
}
.table-striped img {
  padding: 10px 0;
}

.order_content {
  width: 700px;
  margin: 0 auto;
  border: 1px solid;
  margin-bottom: 20px;
  height: 188px;
}
.order_content img {
  margin: 10px 0 10px 10px;
}
.order_content_head {
  background-color: #eeeeee;
  height: 68px;
}
.order_content_1 {
  float: left;
  text-align: left;
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}
.order_content_3 {
  float: right;
  width: 120px;
  text-align: left;
  margin-right: 10px;
}
.order_content_2 {
  float: left;
  width: 100px;
  text-align: left;
  margin-right: 10px;
}
.order_content_4 {
  float: right;
  width: 100px;
  text-align: left;
  margin-right: 10px;
}
.order_content_bottom {
  height: 120px;
}
.order_content_5 {
  float: left;
}

.order_content_product {
  width: 400px;
  margin-left: 10px;
  text-align: left;
  float: left;
}
.order_content_6 {
  display: inline-block;
  margin: 50px 0;
  padding-right: 10px;
  float: right;
  width: 130px;
  text-align: left;
  font-size: 18px;
}
.headline_box_2 {
  background-color: black;

  margin: 0 auto;
}
.mypage_headline {
  color: white;
  padding-left: 10px;

}

/*以下　岡田*/
/*header用のCSS*/
header{
  background-color: #808080;
  width: 100%;
  height: 111px;
  border: solid black 1px;
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;
  z-index: 100;
}
.header-padding{
  height: 111px;
  width: 100%;
}
.header-links{
  text-align: right;
  padding-right: 30px;
}
.link1{
  display: inline-block;
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 130px;
  text-align: center;
  border: 1px black solid;
  font-size: 13px;
  height: 19px;
  text-decoration: none;
}
.link2{
  display: inline-block;
  padding: 0 15px;
  color: white;
  font-size: 14px;
}
.link3{
  display: inline-block;
  color: white;
  font-size: 14px;
}
.header-sub{
  background-color: black;
  height: 65px;
  position: relative;
  top: 2px;
  border-top: solid white 2px;
  border-bottom: solid white 2px;

}
.header-text1{
  color: white;
  text-shadow: 3px 4px 6px gray,
               0px -5px 16px gray;
  padding: 0 0 0 60px;
  display: inline-block;
  position: relative;
  bottom: 42px;
}
.header-text2{
  text-align: right;
  padding: 5px 20px 0 0;
}
.header-text3{
  color: white;
  font-size: 16px;
  margin: 0 0 5px 0;
  font-weight: bold;
}
.search-space{
  width: 250px;
  height: 18px;
  float: right;
  margin: 0 25px 0 0;
}
.search-form{
  width: 85%;
  height: 22px;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.search-form-btn{
  position: relative;
  bottom: 22px;
  left: 212px;
}





/*top用のCSS*/
.top-main{
  overflow:hidden;
  background-color: white;
}
.sidebar-space{
  width: 20%;
  height: 600px;
  float: left;
}
.genre-box{
  width: 18%;
  position: fixed;
  margin-top: 30px;
  left: 2%;
  z-index: 100;
  border: solid black 2px;
  background-color: white;
}
.genre-title{
  height: 32px;
  background-color: black;
  padding-left: 5px;
}
.genre-title-text{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.genre-index{
  padding: 10px 0 0 20px;
}
.top-box{
  height: auto;
  width: 80%;
  float: left;
  overflow:hidden;
}

.ranking-space{
  width: 96%;
  overflow: hidden;
  margin: 60px 2% 40px 2%;
  background-color: white;

  border-top: solid;
}
.rankin-product{
  width: 19%;
  float: left;
  margin: 2% 5px 20px 5px;
  position: relative;
  padding: 10px .75em 15px .75em;
  background-color: #e8e8e8;
}
.rankin-product::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0px;
  width: -webkit-calc(100% 10px);
  width: calc(100% - 0px);
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #f0f0f0;
}
.ranking-integer{
  height: 17px;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}
.ranking-image{
  width: 70%;
  height: 130px;
  margin: 0 15% 3px 15%;
  background-color: #e8e8e8;;
}
.ranking-artist-text{
  font-size: 15px;
  height: 13px;
  padding-top: 7px;
  text-align: center;
}
.ranking-product-text{
  font-size: 15px;
  height: 13px;
  margin-top: 15px;
  text-align: center;
}
.newproduct-space{
  width: 96%;
  overflow: hidden;
  margin: 40px 2% 60px 2%;
  background-color: white;
  border-top: solid;
}








/*商品検索用のCSS*/
.top-box2{
  width: 78%;
  float: left;
}
.sarch-word{
  padding: 10px 0 20px 20px;
}
.sarch-products-box1{
  float: left;
  width: 47%;
  height: 200px;
  background-color: white;
  margin: 1%;
  border-bottom: solid #b2b2b2 3px;
}
.sarch-products-box2{
  float: left;
  width: 350px;
  height: 220px;
  background-color: white;
  margin: 20px 0 0 45px;
  border: solid black 1px;
}
.newproduct-space2{
  width: 96%;
  height: 180px;
  margin: 50px 2% 30px 2%;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
}
.search-product-image{
  margin: 25px 23px 25px 15px;
  width: 152px;
  height: 152px;
  float: left;
  border: solid black 1px;
  background-color: gray;
}
.search-product-name{
  margin: 50px 0 0 10px;
  font-size: 20px;
}
.search-product-price{
  text-align: right;
  font-size: 20px;
  margin: 40px 30px 0 0;
}
.search-product-artist{
  padding-top: 5px;
  font-size: 20px;
}
.float-space-onsearch{
  width: 98%;
  margin-left: 3%;
  overflow: hidden;
}
.pagenate-space{
  position: relative;
  left: 44.5%;
  top: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}
.null-word{
  color: red;
  font-size: 16px;
  position: relative;
  bottom: 25px;
  left: 30px;
}








/*商品詳細用のCSS*/
.product-detail{
  width: 93%;
  background-color: white;
  margin: 20px 2% 20px 2%;
  border: solid black 1px;
  padding-top:20px;
  word-break: break-all;

}
.product-detail-image{
  width: 200px;
  height: 200px;
  margin: 0 20px 0 20px;
  background-color: gray;
  float: left;
}
.product-detail-field1{
  width: 50%;
  float: left;
  margin-right: 15px;
}
.in-the-cart-field{
  width: 180px;
  height: 160px;
  background-color: #ffcc99;
  margin-right: 2%;
  border-radius: 20px;
  border: solid black 1px;
  float: right;
}
.cart-price{
  height:30px;
  font-size:20px;
  margin:5px 3px 0 5px;
  text-align:right;
}
.tax {
  font-size:5px;
}
.product-detail-field2{
  width: 90%;
  float: left;
  margin: 10px 1% 0 7%;
  border-top: dashed gray 1px;
  height: auto;
}
.product-detail-field3{
  width: 45%;
  float: left;
  margin: 5px 1% 20px 7%;
  border-top: dashed gray 1px;
}


/*コメント*/
.product-comment{
  width: 93%;
  margin: 10px 0 0 2%;
  background-color: white;
  border: solid black 1px;
}
.review-count {
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #aaaaaa 100%);/*グラデーション*/
}
.review {
  border:solid 1px;
  border-radius: 5px
}
.product-comment-newbox{
  width: 93%;
  height: 230px;
  margin: 0 0 0 2%;
  background-color: white;
  margin-right: 3px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}
.user-comment {
  list-style: none;
  margin:5px 5px;
  border-bottom:solid 1px;
  border-color:#708090;
  padding:10px 10px;
}
.comment-box {
  margin:5px 0;
}
.star-back{
  color: gray;
  z-index: 1;
}
.star-position{
  z-index: 2;
  position: relative;
  bottom: 20.4px;
}
.star-color{
  color: #FFCC00;
}
.comment-position{
  word-break: break-all;
}



.newproduct-space3{
  width: 96%;
  margin: 70px 2% 30px 2%;
  background-color: white;
  border-top: solid;
  overflow: hidden;
}
.quantity-setting{
  width: 100px;
  height: 25px;
  text-align: right;
  margin: 10px 0 40px 50px;
}
.in-the-cart{
  text-align: center;
  margin-left:5px;
}
.product-heading{
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 1em;
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);
  background: linear-gradient(to bottom, whitesmoke 0%, #FFFF00 100%);
  width: 200px;
  margin: 15px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
}
.product-heading::before,
.product-heading::after {
  content: '';
  position: absolute;
}
.product-heading::before {
  top: 100%;
  left: 0;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #CCCC66;
}
.product-heading::after {
  top: 0;
  right: 0;
  z-index: 2;
  border-width: 15px 15px;
  border-style: solid;
  border-color: transparent;
  border-right-color: #fff;
}

.genre-list {
  padding: 0;
  position: relative;
  margin-bottom: 0px;
}

.genre-list .genre-list-item {
  line-height: 1.5;
  height:35px;
  padding: 0.5em 0.5em 0.5em 1.7em;
  list-style-type: none!important;
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #CCCCCC 100%);/*グラデーション*/
  color: black;
  font-weight: bold;
}

.genre-list .genre-list-item:before { /*疑似要素*/
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  position: absolute;
  left : 0.5em;
  color: #FF6600;
}
.genre-list .genre-list-item:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(2px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
/*テスト*/
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding: 2px 2px 0;
  color: gray;
  cursor: pointer;
  font-size: 25px;
}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}
/**/
.current{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: black;
    background-color: #ddd;
    border: 1px solid #ddd;
    /*margin-left: -1px;*/
}
/*テスト終わり*/

/*footer用のCSS*/
/*footer用のCSS*/
footer {
  height: 120px;
  background-color: black;
}
.footer {
  color:white;
  float:left;
  margin:20px 0 0 20px;
}
.footer-link {
  color:white;
  float:left;
  margin:40px 0 0 55px;
}
.footer-logo{
  width:400px;
  height:100px;
  float:right;
  margin-top:15px;
  background-image:url(logo2.png);
  background-repeat: no-repeat;
}
