// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart {
  width:100%;
  background-color:#dcdcdc;
  padding:30px 0 30px;
}
.cart-detail {
   border:solid 1px;
  background-color:white;
  padding:10px 10px 10px 10px;
}
.cart-item {
  height:100px;
  border:solid 1px;
  padding:10px 20px 10px 10px;
  margin-bottom:10px;
}
.cart-image {
  height:80px;
  border:solid 1px;
  border-radius: 5px;
  border-color:#dcdcdc;
}

.cart_item_box {
  padding-top: 30px;
}
.cart_quantity_form{
  margin-top: 29px;
  width: 54px;
}
.cart1 {
  background-color: black;
  color: white;
}

/*割引表示部分*/
.c_price{
  margin-bottom: 20px;
  font-size:16px;
}
.c_discount{
  color:blue;
  font-weight: 600;
}

.c_pay{
  border-top: dotted 1px gray;
  font-weight: 600;
}
.c_table_box{
  margin-bottom: 20px;
}