// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  /*/order/show*/
.purchase {
  width:100%;
  padding:30px 0 50px;
 }
 .number-color {
  background-color: black;
  color:white;
 }
 .purchase-detail {
  border:solid 1px;
  background-color:white;
  padding:10px;
 }
 .purchase1{
  border:solid 1px;
  height:80px;
  background-color:#b0e0e6;
  text-align: center;
  border-top-color: #dcdcdc;
  border-left-color: #dcdcdc;
  border-right-color:#dcdcdc;
  border-bottom-color: black;
 }
 .date {
  width:150px;
  height:30px;
  line-height:30px;
  float:left;
 }
 .order-user{
  width:130px;
  height:30px;
  line-height:30px;
  float:left;
 }
 .order-address{
  width:420px;
  height:30px;
  line-height:30px;
  float:left;
 }
 .order-address1 {
  width:420px;
  float:left;
  line-height: none;
 }
 .status {
  text-align:center;
  float:left;
  width:200px;
  height:30px;
  line-height: 30px;
  margin-left:10px;
}
 .purchase2 {
  border:solid 1px;
  height:145px;
  margin:0 auto;
  padding:0 20px 0;
  border-color:#dcdcdc;
 }
 .purchase2-image {
  width:120px;
  height:120px;
  margin:10px 30px 10px 10px;
  float:left;
 }
 .purchase-artist-box {
  width:300px;
  float:left;
 }
 .purchase-product {
  width:400px;
  float:left;
  margin-top:15px;
 }
 .purchase-amount {
  height:140px;
  float:right;
  padding-top:50px;
 }
 .purchase-price {
  width:200px;
  float:left;
 }
.purchase-artist {
  width:200px;
  float:left;
}
.purchase-subtotal {
  height:140px;
 float:right;
 padding-top:50px;
 margin:0 10px 0 20px;
}
.cancel {
  margin-top:10px;
  float:right;
}
.mypage-link {
  margin-top:10px;
  float:left;
}
/*渡辺*/
.os_table{
  font-size: 20px;
  margin-left: 10px;
}
.on_btn{
  padding-top: 10px;
}





 /*order/complete*/
.complete-back {
  width:100%;
  height:100%;
  padding-top:50px;
  background-color: black;
 }
 .complete {
  width:700px;
  height:400px;
  margin:0 auto 100px;
  padding-top:20px;
  border:outset;
  background-color:white;
 }
 .complete-big-text {
  font-size:40px;
  text-align:center;
 }
 .complete-text {
  font-size:20px;
  margin:50px 0 30px;
  text-align:center;
 }
 .under{
  text-decoration: underline;
 }
.logo {
  width:380px;
  height:170px;
  background-image:url("logo.png");
   background-size: cover;
   margin:0 auto;
}







/*order/new*/

.order-back {
width:100%;
height:100%;
padding-top:30px;
}
.order {
background-color:white;
margin:0 auto 30px;
padding:0 0 20px 0;
border:outset;
text-align:center;
}
.order-color {
  background-color: black;
  color: white;
}
.order-box {
margin:0 auto;
border:inset 3px;
padding:5px 5px 5px 5px;
}
.sendbox {
text-align:center;
height:130px;
}
.address-form {
width:500px;
height:30px;
margin:0 auto;
}
.pay {
text-align:center;
border-top:solid 1px #add8e6;
margin-top:20px;
}
.confirm {
border-top:solid 1px #add8e6;
margin-top:20px;
}
.pre-product {
width:520px;
height:100px;
border:solid 1px;
margin:5px auto 10px;
padding:8px 0 0 8px;
}
.product-image {
width:80px;
height:80px;
float:left;
}
.preorder-product {
float:left;
height:80px;
width:200px;
text-align: left;
margin-left:10px;
padding-top:10px;
}
.preorder-quantity {
  height:80px;
  width:150px;
  float:right;
  margin-right:20px;
  padding-top:20px;
}
.price-table {
float:right;
margin:0 10px 10px 0;
}




/*order/index*/
.order_search{
  margin-left: 80px;
}
.order_index{
  background-color: white;
  margin-bottom: 100px;
  border: 1px solid #F2F2F2;
}
.order_index_table{
  margin-bottom: 0 !important;
  word-break: break-all;
}
.order_table_head{
  font-size: 18px;
}
.order-index-th{
   font-weight: 600;
}
.order_index_td{
  padding:15px 8px !important;
  font-size:16px;
  border: 1px solid #F2F2F2;
}
.show_link_btn{
  text-align: center;
}