// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /*/order/show*/
.purchase {
  width:100%;
  padding:30px 0 50px;
  background-color:#dcdcdc;
 }
 .purchase-detail {
  border:solid 1px;
  border-radius:5px;
  border-color:#dcdcdc;
  background-color:white;
  padding:10px;
 }
 .purchase1{
   border:solid 1px;
  border-color:#dcdcdc;
  height:90px;
  background-color:#b0e0e6;
  text-align: center;
 }
 .date {
  width:150px;
  height:30px;
  line-height:30px;
  float:left;
 }
 .date1 {
  width:150px;
  height:30px;
  line-height:30px;
  float:left;
 }
 .order-user{
  width:150px;
  height:30px;
  line-height:30px;
  float:left;
 }
 .price-box {
  width:120px;
  height:30px;
  line-height:30px;
  float:left;
 }
 .order-address{
  width:300px;
  height:30px;
  line-height:30px;
  float:left;
 }
 .order-address1 {
  width:300px;
  height:30px;
  float:left;
  line-height: none;
 }
 .status {
  text-align:center;
  float:right;
  height:60px;
  line-height: 60px;
  margin-right:20px;
}
 .purchase2 {
  border:solid 1px;
  border-color:#dcdcdc;
  height:145px;
  margin:0 auto;
 }
 .purchase2-image {
  width:120px;
  height:120px;
  border:solid 1px;
  border-radius:5px;
  border-color:#dcdcdc;
  margin:10px 30px 10px 10px;
  float:left;
 }
 .purchase-product {
  width:300px;
  height:60px;
  float:left;
  line-height:60px;
 }
 .purchase-amount {
  width:200px;
  height:60px;
  float:right;
  line-height:60px;
 }
 .purchase-price {
  width:200px;
  height:60px;
  float:right;
  line-height:60px;
 }
.purchase-artist {
  width:200px;
  height:60px;
  float:left;
  line-height:60px;
}
.cancel {
  float:right;
}





 /*order/complete*/
.complete-back {
 	width:100%;
 	height:100%;
 	padding-top:50px;
 	background-color: black;
 }
 .complete {
 	width:700px;
 	height:400px;
 	margin:0 auto 100px;
 	padding-top:20px;
 	border:outset;
 }
 .complete-big-text {
 	font-size:40px;
 	text-align:center;
 }
 .complete-text {
 	font-size:20px;
 	margin:50px 0 30px;
 	text-align:center;
 }
 .under{
 	text-decoration: underline;
 }
.logo {
	width:380px;
	height:170px;
	background-image:url("logo.png");
	 background-size: cover;
	 margin:0 auto;
}















/*order/index*/

.order_index{
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.order_table_head{
  background-color: black;
  color:white;
  font-size: 18px;
}
.order-index-th{
   font-weight: 500;
   border: 1px solid #1C1C1C;
}
.order_index_td{
  padding:20px 8px !important;
  font-size:16px;
  border: 1px solid #F2F2F2;
}
.show_link_btn{
  text-align: center;
}


