// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*以下渡辺*/
/*product/new/editでも流用*/
.product_new_inner{
  height: 100%;
}
.product_new_main{
}
.header-footer{
  height:100px;
  background-color: black;
}
.product_new_topbottom{
  height: 100px;
  z-index: 1;
}

.product_new_heading{
  text-align: center;
}
.product_new_heading h1{
  display: inline-block;
}
.product_new_form{
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  padding-top: 50px;
}
/*product edit*/
#help-block{
  margin-bottom: -10px;
}
/*product_index*/
.product_index_back{
  background-color: #F2F2F2;
  word-break: break-all;
}
.product_index_main{
  background-color: white;
  padding: 0 0 30px 0 !important;
  margin-top: 50px;
}
.pi_title{
  background-color: black;
  color:white;
  padding: 10px 30px;
  margin-top:0 !important;
  font-weight: 600;
}
.pi_box{
  border-bottom: 1px solid gray;
  height: 110px;
  margin: 0px 30px;
}
.pi_image{
  display: inline-block;
  box-shadow: 0 0 5px gray;
  margin: 10px 0 0 10px;
}
.pi_aname{
  font-size:18px;
}
.pi_info{
  font-size: 16px;
}
.pi_top{
  margin-top: 20px;
}
.pi_link{
  float: right;
  font-size: 18px;
}
