// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*以下渡辺*/
/*product/new/editでも流用*/
.product_new_inner{
  height: 100%;
}
.product_new_main{
}
.header-footer{
  height:100px;
  background-color: black;
}
.product_new_topbottom{
  height: 50px;
}

.product_header{
  padding:10px 0 10px 30px ;
  margin: 0 0 30px 0 !important;
  background-color: black;
  color: white;
  font-weight: 600;
}
.product_new_form{
  border: 1px solid gray;
  box-shadow: 0 0 2px black;
}
/*product edit*/
#help-block{
  margin-bottom: -10px;
}
/*product_index*/
.product_index_back{
  word-break: break-all;
}
.product_index_main{
  background-color: white;
  padding: 0 !important;
  margin: 50px 0 30px 0;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left:1px solid gray;
}
.pi_title{
  background-color: black;
  color:white;
  padding: 10px 30px;
  margin-top:0 !important;
  font-weight: 600;
}
.pi-wata{
  text-align: center;
}
.pi_box{
  border-bottom: 1px solid gray;
  margin: 0px 15px;
}
.product_index_main .row:last-child .pi_box{
  border-bottom: none;
  margin: 0px 15px;
}
.pi_image{
  display: inline-block;
  box-shadow: 0 0 5px gray;
  margin: 10px 0 0 10px;
}
.pi_pname{
  margin-top: 0 !important;
}
.pi_delete{
  font-weight: 600;
  color: red;
}
.pi_aname{
  font-size:18px;
}
.pi_info{
  font-size: 16px;
}
.pi_top{
  margin-top: 20px;
}
.pi_link{
  float: right;
  font-size: 18px;
}
