// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show-back {
  width:100%;


}
.user-show {
  font-size:15px;
  background-color:white;
  text-align:center;
  border:solid 1px;
  margin:5px auto 0;
  padding:5px;
  border-radius: 5px;
  border-color:#dcdcdc;
  width: 800px;
}
.user-box {
  background-color:white;
  text-align:center;
  border:solid 1px;
  margin:5px auto 0;
  padding:5px;
  border-radius: 5px;
  border-color:#dcdcdc;
  width: 800px;
}
.td-purchase {
  height:80px;
  vertical-align: inherit !important;
  padding:0  !important;
}
.th-purchase {
  text-align:center !important;
  padding:0 !important;
}


.user_header{
  padding:10px 0 10px 30px ;
  margin: 0 0 0 0 !important;
  background-color: black;
  color: white;
  font-weight: 600;
}
.user-btn{
  margin-left: 52px;
}
.user_index{
  background-color: white;
  margin-bottom: 50px;
  border: 1px solid #F2F2F2;
}
.user_search{
  margin-top: 50px;
}
