
<!-- main部分 -->
<div class="top-main">
	<div class="genre-box">
		<div class="genre-title">
			<p class="genre-title-text">カテゴリー</p>
		</div>
		<div>
			<p>※genreの折り返し処理</p>
		</div>
	</div>
	<div class="top-box2">
		<h3 class="sarch-word">検索ワード"ここに検索ワードを抜粋する"</h3>
		<div class="sarch-products-box1"></div>
		<div class="sarch-products-box1"></div>
		<div class="sarch-products-box1"></div>
		<div class="sarch-products-box2"></div>
		<div class="sarch-products-box2"></div>
		<div class="sarch-products-box2"></div>

		<p class="kaminari-plan"> << ここにページネーションを実装する >> </p>

		<div class="newproduct-space2">
			<p>発売日が最も新しいProductを5つ表示</p>
		</div>
	</div>
</div>
