
<!-- main部分 -->
<div class="top-main">
	<div class="genre-box">
		<div class="genre-title">
			<p class="genre-title-text">カテゴリー</p>
		</div>
		<div>
			<p>※genreの折り返し処理</p>
		</div>
	</div>
	<div class="top-box2">
		<div class="product-detail">
			<p>商品詳細</p>
			<div class="product-detail-image">
				<p>商品画像</p>
			</div>
			<div class="in-the-cart-field">
				<p>価格</p>
				<p>ProductPrice 円</p>
				<div class="amount-setting">
					<p>個</p>
				</div>
				<div class="in-the-cart">
					<p>カートへ入れる</p>
				</div>
			</div>
			<div class="product-detail-field1">
				<div><p>CDの名前</p></div>
				<div><p>Artistの名前</p></div>
				<div><p>所属するGenre</p></div>
				<div><p>在庫状況：在庫の数</p></div>

			</div>
			<div class="product-detail-field2">
				<p>商品説明欄</p>
			</div>
		</div>
		<div class="product-comment">
			<p>コメントをスクロール表示</p>
		</div>

		<div class="newproduct-space3">
			<p>発売日が最も新しいProductを5つ表示</p>
		</div>
	</div>
</div>
