<!-- main部分 -->
<div class="top-main">
	<div class="genre-box">
		<div class="genre-title">
			<p class="genre-title-text">カテゴリー</p>
		</div>
		<div>
			<p>※genreの折り返し処理</p>
		</div>
	</div>
	<div class="top-box">
		<div class="swipe-space">
			<p>スライド実装スペース</p>
		</div>
		<div class="ranking-space">
			<p>売上数が上位のProductを5つ表示</p>
		</div>
		<div class="newproduct-space">
			<p>発売日が最も新しいProductを5つ表示</p>
		</div>
	</div>
</div>
