<!DOCTYPE html>
<html>
  <head>
    <title>SquareMusic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
  </head>

  <body>
    <header>
	<div class="header-links">
		<div class="link1">cartへのリンク</div>
		<div class="link2">マイページ</div>
		<div class="link3">ログアウト</div>
	</div>
<!-- タイトルdiv -->
	<div class="header-sub1">
		<div class="header-sub2">
			<div class="header-text2">
				<p class="header-text3">ようこそ＜USER＞<!-- ログインユーザー名を表示予定 -->さん</p>
			</div>
			<h1 class="header-text1">SQUARE MUSIC</h1>
			<div class="search-sample">
				<p class="search-space">検索実装スペース</p>
			</div>
		</div>
	</div>

</header>
<%= yield %>
  </body>

</html>
