<p>こんにちは <%= @resource.email %>!</p>

<p>誰かがあなたのパスワードを変更するためのリンクをリクエストしました。あなたは下のリンクからこれを行うことができます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %>(新しいタブで開いて下さい)</p>

<p>リクエストしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいリンクを作成するまで、パスワードは変更されません</p>
